{% extends "header.html" %}
{% block content %}

<div class="h-75 w-100 d-flex justify-content-center align-items-center">
  <form class="w-50" action="/" method="POST">
    {{ form.csrf_token }}

    <div class="mb-3">
      <label for="search-weather" class="form-label fs-3">Search a Location</label>
      {{ form.search_query(class="form-control", placeholder="Enter a city name") }}
    </div>

    {% if form.search_query.errors %}
    <div class="alert alert-warning" role="alert">
      {% for error in form.search_query.errors %}
      <span>
        {{ error }}
      </span>
      {% endfor %}
    </div>
    {% endif %}
    
    {{ form.submit(class="btn btn-primary w-100") }}
  </form>
</div>

{% endblock %}